#staking{
    width: 100%;
    min-height: 40rem;
    display: flex;
    justify-content: center;
    #stakingModal{
        margin-top: 2rem;
        width: 35rem;
        border: solid 1px #222d34;
        #reloadBtn{
            display: flex;
            justify-content: center;
            align-items: center;
            #reloadIcon{
                width: 20px;
                height: 20px;
                color: white;
                cursor: pointer;
            }
        }

        #stkTitle{
            color: white;
            font-size: 1.2rem;
            padding-left: 1.8rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        #stkDetBox{
            display: flex;
            justify-content: center;
            padding-left: 1.8rem;
            padding-right: 1.8rem;
            #stkDetail{
                background: #0e181e;
                border: none;
                height: 3rem;
                width: 100%;
                color: #9e9e9e;
                font-size: 1.1rem;
                padding-left: 1rem;
            }
        }
        #stkBtnGrp{
            display: flex;
            justify-content: space-around;
            margin-top: 2rem;
            padding-bottom: 2rem;
            #stkDayBtn{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2.4rem;
                color: white;
                background-color: #0a1217;
                width: 8rem;
                border-color: #6aadd7;
                cursor: pointer;
            }
        }
        #stkBrBox{
            display: flex;
            justify-content: center;
            width: 100%;
            #stkBorder{
                width: 90%;
                border-bottom: solid 1px #222d34;
            }
        }
        #stkApy{
            display: flex;
            justify-content: center;
            padding:2rem;
            #apyBtn{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3.4rem;
                font-size: 1.3rem;
                color: #6aadd7;
                font-weight: bold;
                width: 11rem;
                border-color: #6aadd7;
                cursor: pointer;
            }
        }
        #stkOption{
            display: flex;
            margin-left: 1.8rem;
            margin-right: 1.8rem;
            justify-content: space-between;
            border-bottom: solid 1px #222d34;
            padding-top: 1rem;
            padding-bottom: 1rem;
            #opTitle{
                color: white;
                font-size: 1rem;
            }
            #opVal{
                color: #6aadd7;
                font-size: 1rem;
            }
        }
        #stkMain{
            margin-left: 1.8rem;
            margin-right: 1.8rem;
            background-color: #0e181e;
            display: flex;
            justify-content: center;
            height: 5rem;
            margin-top: 2rem;
            #stkMax{
                display: flex;
                align-items: flex-end;
                justify-content: space-around;
                margin-bottom: 0.5rem;
                #maxBtn{
                    color: #6aadd7;
                    font-size: 1rem;
                    cursor: pointer;
                }
                #solvName{
                    color: white;
                    font-size: 0.8rem;
                }
            }
            #stkApprove{
                display: flex;
                justify-content: center;
                align-items: center;
                #approveBtn{
                    width: 100%;
                    border-color: #6aadd7;
                    border-width: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span{
                        color: white;
                        font-weight: bold;
                    }
                }
                #rewardAmount{
                    color:white;
                }
            }
            #stkBalance{
                display: flex;
                align-items: flex-end;
                #balance{
                    color: #6aadd7;
                }
                #stkAmtBox{
                    padding-bottom: 0.3rem;
                    #stkAmount{
                        height: 2rem;
                        background: #0e181e;
                        border: none;
                        color: white;
                    }
                }
            }
        }

        #footer{
            margin-top: 1rem;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            span{
                font-size: 1.3rem;
                color: white;
            }
        }
    }
}
@media screen and (max-width: 767px) and (min-width: 426px) {
    #stakingModal{
        margin-top: 13rem !important;
        width: 23rem !important;
    }
    #stkAmount{
        width: 4rem !important;
    }
    #stkDayBtn{
        width: 7rem !important;
    }
    #approveBtn{
        padding: 0.6rem 0.2rem 0.6rem 0.2rem !important; 
    }
}
@media screen and (max-width: 425px) and (min-width: 0px) {
    #stakingModal{
        margin-top: 13rem !important;
        width: 23rem !important;
    }
    #stkAmount{
        width: 4rem !important;
    }
    #stkDayBtn{
        width: 7rem !important;
    }
    #approveBtn{
        padding: 0.6rem 0.2rem 0.6rem 0.2rem !important; 
    }
}
