::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-track {
    background: #0a1217;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #0a1217;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0a1217;
}

.header_container {
    background-image: url("../img/breeding/header_back.png");
    background-size: cover;
}

.main_container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/breeding/main_back.jpg");
    background-size: cover;
}

#header {
    .logo {
        height: 4rem;
        margin-top: 2rem;
    }

    .connect_group {
        margin-top: 5rem;
    }

    #usdButton {
        background-color: #142228;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: 1rem;
        font-size: 18px;
        color: #6aadd7;
    }
    .caption {
        color: white;
        font-size: 48px;
        font-weight: bolder;
        margin-top: 3rem;
    }
    .sub_caption {
        color: #a1a1a6;
        font-size: 20px;
        font-weight: bolder;
        margin-top: 2rem;
    }
    .header_hole { 
        margin-top: 8rem;
    }
}
.hero_card {
    height: 300px;
    max-width: 300px;
    margin-top: 0px;
    margin-right: 1rem;
    margin-bottom: 0px;
    margin-left: 1rem;
    border-radius: 0.375rem;
}
.grid_item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle {
    margin-top: 100rem;
}
.footer_container {
    background-image: linear-gradient(rgb(48, 66, 77) -15%, rgb(0, 0, 0) 110%);
}

#root {
    font-family: cursive;
}