::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-track {
    background: #0a1217;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #0a1217;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0a1217;
}

.header_container {
    background-image: url("../img/breeding/header_back.png");
    background-size: cover;
}

.main_container {
    background-image: url("../img/breeding/main_back.jpg");
    background-size: cover;
}

#header {
    .logo {
        height: 4rem;
        margin-top: 2rem;
    }

    .connect_group {
        margin-top: 5rem;
    }

    #usdButton {
        background-color: #142228;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: 1rem;
        font-size: 18px;
        color: #6aadd7;
    }
    .caption {
        color: white;
        font-size: 48px;
        font-weight: bolder;
        margin-top: 3rem;
    }
    .sub_caption {
        color: #a1a1a6;
        font-size: 20px;
        font-weight: bolder;
        margin-top: 2rem;
    }
    .header_hole { 
        margin-top: 8rem;
    }
}