#assetButton{
    display: flex;
    color: white;
}
#tokenIcon{
    height: 1.2rem;
    width: 1.2rem;
}
#greyCell{
    background-color: #2f313d;
}
#tokenSymbol{
    display: flex !important;
    font-size: 0.8rem !important;
}