#nftDataBox{
    height: 100%;
    min-height: 70vh;
    background-color: #0a1217;
}
#nftImage{
    width: 100%;
}
#nftImageGroup{
    display: flex;
    flex-wrap: wrap;
}
#nftImagePair{
    margin-top: 1.5rem;
}
#Nftlist{
    display: flex;
}
#nftName{
    display: flex;
    color: #6aadd7;
    display: inline-block;
    font-family: unset;
    justify-content: center;
    font-size: 1.2rem;
    width: calc(90%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1rem;
}
#moreNftImageBox{
    padding: 1rem;
}
#moreNftImage{
    width: 100%;
}
#nftImageBox{
    padding:0.9rem;
}
.nftValue{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 0.9rem !important;
}
#nftDescription{
    display: flex;
    justify-content: center;
    font-size: 1.1rem !important;
    color: rgb(198, 230, 231);
}
#nftAttr{
    color: rgb(198, 230, 231);
    display: flex;
    justify-content: center;
    font-size: 1.1rem !important;
}   
#nftModalName{
    color: white;
    display: flex;
    justify-content: center;
}
#moreButton{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#moreButtonChip{
    border-radius: 11px;
    color: #6aadd7;
    border-color: #6aadd7;
}
.MuiDialog-paperWidthSm {
    max-width: 361px !important;
}

#nftImageChip{
    padding:0px !important;
    background: #0d1b20;
    border-radius: 11px;
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
    #nftDataBox{
        margin-top: 5rem !important;
    }
}
@media screen and (max-width: 768px) and (min-width: 0px) {
    #nftDataBox{
        margin-top: 9rem;
    }
}

